# Arquivos sensíveis
**/private/*.key
*.key
*.p12
*.pfx
*.der

# Docker e configs de ambiente
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pastas e arquivos de build
__pycache__/
*.pyc
build/
dist/